body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: #f4f6f8;
  color: #2c3e50;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d3436;
  padding: 20px 40px;
  flex-wrap: wrap;
}

.logo {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

.nav-links {
  list-style: circle;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: 6px;
  transition: 0.3s;
}

.nav-links a:hover {
  background-color: #576574;
}

.nav-links .active {
  background-color: #ffa502;
  color: #000;
}

/* Container */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 20px;
}


.welcome {
  padding: 20px;
  margin-bottom: 30px;
}

.welcome h1 {
  font-size: 36px;
  margin-bottom: 10px;
  position: relative;
}

.welcome h1::after {
  content: " 📖";
  font-size: 28px;
  color: #ffa502;
  position: absolute;
  right: -40px;
  top: 0;
}

.welcome span {
  color: #ffa502;
}

.welcome p {
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  margin-top: 10px;
}

/* Categories Section */
.categories {
  margin-top: 40px;
  padding: 20px;
}

.categories h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.category-card {
  background: #ffffff;
  padding: 25px;
  margin: 5px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  text-align: center;
  font-weight: 600;
  color: #2d3436;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-card i {
  font-size: 22px;
  margin-bottom: 10px;
  color: #ffa502;
}

.category-card:hover {
  background-color: #ffa502;
  color: #000;
  transform: translateY(-5px);
}

.category-card:hover i {
  color: #000;
}

/* Footer */
footer {
  background-color: #2d3436;
  color: #ddd;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}
/* pesudo class */
.elibrary .e-letter {
  font-family: 'Courier New', monospace; 
  color: #ff5722; 
  font-weight: bold;
  font-size: 1.4em;
  position: relative;
}

.elibrary .e-letter::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff5722;
}

